#main__right {
    height: 100px;
    width: 34%;
}
/* h2 {
    padding: 20px 5px 20px 5px;
    background-color: rgb(172, 235, 240);
} */

/* .link > div:first-child {
    display: inline-block;
    display: flex;
    justify-content: center;
}
.link > div:first-child > img {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.links > a {
    font-size: 20px;
    font-weight: bold;
    display: block;
} */

.main__right__option {
    display: flex;
    justify-content: flex-start;
}

.main__right__option .main__right__option__image {
    width: 64px;
}

.main__right__option .main__right__option__link {

}

.main__right__option .main__right__option__link div {
    margin: 10px 0px 5px 15px;
}

.main__right__option .main__right__option__link .h5 {
    color: black;
    text-decoration: none;
}

.h3 {
    font-size: 20px;
}

.h5 {
    font-size: 16px;
}

hr {
    margin: 10px 0px;
}

#main__right h2 {
    margin-top: 20px;
    padding: 5px;
    height: 40px;
    background-color: rgb(172, 235, 240);
}
